@media (min-width: 600px) and (max-width: 800px) {
    nav ul {
        width: 100%;
        font-size: x-small;
    }

    footer {
        display: none;
    }

    .page-1 {
        flex-direction: column;
        height: auto;
        margin-top: 1rem;
        position: relative;
    }

    .page-1 .left {
        justify-content: space-between;
        gap: 7px;
        position: relative;
    }

    .page-1 .right {
        height: 30dvh;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .page-1 .left {
        width: 95%;
    }

    .page-1 .left .main-description {
        font-size: medium;
    }

    .page-1 .left .logo {
        height: 9rem;
        width: 10rem;
        background-repeat: no-repeat;
        background-size: cover;
        /* background: url("./images/logo.jpg") center center; */
        overflow: hidden;
    }

    .page-1 .left .btn {
        width: 30dvw;
        margin-bottom: .5rem;
        height: 6dvh;
    }

    .page-1 .left .btn button {
        font-size: medium;
    }

    .page-2 {
        margin: 0;
    }

    .page-2 .card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 50dvh);
        justify-content: center;
    }

    .page-2 .card-container .price-card {
        width: 70%;
        margin: auto;
    }

    .page-2 .card-container .price-card img {
        height: 100%;
    }

    .page-3 {
        height: max-content;
    }

    .page-3 .main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 45dvh);
        /* height: max-content; */
    }
}

@media (width > 600px) and (width < 900px) {
    .page-2 .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 50dvh);
    }

    .page-3 {
        height: max-content;
    }

    .page-3 .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50dvh);
    }
}

@media (width > 900px) and (width < 1300px) {
    .page-2 .card-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 50dvh);
    }

    .page-3 .main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 65dvh);
    }
}
